body{
  font-family: 'Montserrat';
  margin: 0;
  min-height: 100vh; 
  background: linear-gradient(to top, #162952, black);
  color: white;
}

h1{
  font-size: 48px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

/* for blue text */
.top_tag{
  color: #12C1F2;
}

header{
  text-align: center;
  margin-top: 2%;
}

/* the navbar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right; 
}

ul li {
  display: inline;
  margin-left: 3%;
  margin-right: 3%;
  color: white;
}

ul li a { 
  color: white;
  text-decoration: none;
}


nav{
  margin: 5%; 
}

nav a.active {
  text-decoration: underline;
}

button{
  font-family: 'Montserrat';
  border-radius: 10px; 
  border: none;
  cursor: pointer;
  font-size: 14px; 
  padding: 1%;
  margin: 1%; 
}

#privacy_pol {
  background: transparent;
  color: white; 
}

.type1{
  color: black; 
  background: #12C1F2;
}

.type2{
  color: white; 
  background: transparent;
  border: 2px solid #12C1F2;
}

button:hover{
  background-color: #5A8ED1;
}

.box{
  margin-top: 5%; 
  height: 500px; 
  background: rgba(90, 142, 209, 0.1);
  padding: 1%;
}

h3{
  font-size: 20px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

h5{
  text-align: center;
  margin:1%; 
}

h6{
  text-align: center;
}

my-school{
  color: #0074c8;
  display: inline-block;
}

code{
  white-space: pre-wrap;
  display: block; 
  word-break: break-word; 
  margin: 1%; 
  font-family: 'JetBrains Mono';
  background-color: #2C343A;
}

kbd {
  border-radius: 2px;
  padding: 2px;
  border: 1px solid white;
}

.card{
  background: rgba(217, 217, 217, 0.2);
  border-radius: 10px; 
  width: 20vw;
  margin: 1%;
}

#cards{
  display: flex; 
  justify-content: center;
}

#testimonial{
  padding: 2%;
  font-size: 18px;
  margin-top: 0; 
  background: transparent; 
  color: #12C1F2; 
  text-decoration: underline;
}

p{
  color: white;
  text-align: center;
}

footer{
  background-color: #020714;
  padding: 2rem;
}

/* Progress bar*/
#bar::-webkit-progress-bar {
  background-color: #12C1F2;
  border-radius: 10px;
}

form#contactForm {
  min-width: 50%;
  margin: 3% auto;
  padding: 2.5%;
  border-radius: 10px;
  background-color: rgba(90, 142, 209, 0.1);
}

form#contactForm label{
  display: block;
  margin-top: 2%;
  font-weight: 600;
  font-size: 16px;
}

form#contactForm button {
  width: 100%;
  font-size: 16px;
  padding: 3%; 
  margin-top: 2.5%;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  display: block; 
}

summary{
  display: flex; 
  justify-content: center;
}

section{
  display: block;
}

figure{
  display: block;
  margin: auto; 
}

table {   
  margin: 2%;
  display: block;
}

th, td {
  border: 1px solid #ccc; 
  padding: 2%; 
  text-align: center;
}

meter, #pop{
  display: block;  
  /*justify-content: center;*/
  margin: auto;
  color: white; 
}

article{
  text-align: center; 
  margin: 2%; 
  max-width: 600px; 
}

#prod{
  display: block;
  jsutify-content: center; 
  text-align: center;
}
